<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    <!-- ======= Header ======= -->
    {{ partial "header.html" . }}
    <!-- End Header -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <div class="d-flex justify-content-between align-items-center">
            <h2>Contact us</h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>Contact us</li>
            </ol>
          </div>
        </div>
      </section>
      <!-- End Breadcrumbs -->

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div>
            <iframe
              style="border: 0; width: 100%; height: 270px"
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>

          <div class="row mt-5">
            <div class="col-lg-12 mt-5 mt-lg-0">
              <form
                action="forms/contact.php"
                method="post"
                role="form"
                class="php-email-form"
              >
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="first-name"
                      class="form-control"
                      id="first-name"
                      placeholder="First Name"
                      required
                    />
                  </div>

                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="text"
                      name="last-name"
                      class="form-control"
                      id="last-name"
                      placeholder="Last Name"
                      required
                    />
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-md-6 form-group mt-3 mt-md-0">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="job-title"
                      class="form-control"
                      id="job-title"
                      placeholder="Job Title"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Message"
                    required
                  ></textarea>
                </div>
                <div class="mt-3">
                  <button type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->

      <!-- ======= Call to action Section ======= -->
      <section class="cta d-flex justify-content-center align-items-center">
        <div class="container" data-aos="fade-up">
          <div class="row justify-content-center">
            <div class="col-md-9" data-aos="fade-up" data-aos-delay="200">
              <h2 class="text-center mb-4">What is Lorem Ipsum</h2>
              <p class="text-center mb-5">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
              </p>
              <div class="btn-read text-center">
                <a href="/" class="">Contact Us</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End call to action Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {{ partial "footer.html" . }}
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    {{ partial "scripts.html" . }}
  </body>
</html>
